<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Websites</title>
  </head>
  <body>
    <p>BTC: {{price_BTC}}</p>
    <p>IOTA: {{price_IOTA}}</p>
    <p>POWR: {{price_POWR}}</p>
    <p>ARDR: {{price_ARDR}}</p>
    <p>WABI: {{price_WABI}}</p>
  </body>
</html>
