<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hodler</title>
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/css/normalize.css" rel="stylesheet">
    <link href="assets/css/font.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">
  </head>
  <body>
    <div class="title-ctn">
      <img class="logo" src="assets/img/logo.svg">
      <div class="title">Hodler</div>
    </div>
    <table class="price-table">
      <thead>
        <tr class="row-head">
          <th class="name">Name</th>
          <th class="price">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Bitcoin (BTC)</td>
          <td>&dollar;{{pu_BTC}}</td>
        </tr>
        <tr>
          <td>IOTA (MIOTA)</td>
          <td>&dollar;{{pu_MIOTA}} / {{ps_MIOTA}}</td>
        </tr>
        <tr>
          <td>Power Ledger (POWR)</td>
          <td>&dollar;{{pu_POWR}} / {{ps_POWR}}</td>
        </tr>
        <tr>
          <td>Ardor (ARDR)</td>
          <td>&dollar;{{pu_ARDR}} / {{ps_ARDR}}</td>
        </tr>
        <tr>
          <td>Raiden Network (RDN)</td>
          <td>&dollar;{{pu_RDN}} / {{ps_RDN}}</td>
        </tr>
        <tr>
          <td>OmiseGO (OMG)</td>
          <td>&dollar;{{pu_OMG}} / {{ps_OMG}}</td>
        </tr>
        <tr>
          <td>Wabi (WABI)</td>
          <td>&dollar;{{pu_WABI}} / {{ps_WABI}}</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
