<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hodler</title>
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/css/normalize.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">
  </head>
  <body>
    <div class="title-ctn">
      <img class="logo" src="assets/img/logo.svg">
      <div class="title">Hodler</div>
    </div>
    <div class="switch">
      <a class="not-active" href=".">Holding</a>
      <a class="active" href="./interested">Interested</a>
    </div>
    <table class="price-table">
      <thead>
        <tr class="row-head">
          <th class="name">Name</th>
          <th class="price">Price</th>
          <th class="change">Change</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Ethereum (ETH)</td>
          <td>&dollar;{{pu_ETH}} / {{ps_ETH}}</td>
          <td class="pc">{{ch_ETH}}</td>
        </tr>
        <tr>
          <td>Ripple (XRP)</td>
          <td>&dollar;{{pu_XRP}} / {{ps_XRP}}</td>
          <td class="pc">{{ch_XRP}}</td>
        </tr>
        <tr>
          <td>Litecoin (LTC)</td>
          <td>&dollar;{{pu_LTC}} / {{ps_LTC}}</td>
          <td class="pc">{{ch_LTC}}</td>
        </tr>
        <tr>
          <td>HempCoin (THC)</td>
          <td>&dollar;{{pu_THC}} / {{ps_THC}}</td>
          <td class="pc">{{ch_THC}}</td>
        </tr>
        <tr>
          <td>Monaco (MCO)</td>
          <td>&dollar;{{pu_MCO}} / {{ps_MCO}}</td>
          <td class="pc">{{ch_MCO}}</td>
        </tr>
        <tr>
          <td>Blitzcash (BLITZ)</td>
          <td>&dollar;{{pu_BLITZ}} / {{ps_BLITZ}}</td>
          <td class="pc">{{ch_BLITZ}}</td>
        </tr>
      </tbody>
    </table>
    <script>
    const pcElem = document.getElementsByClassName("pc");
    for (let elem of pcElem) {
      let price = Number(elem.textContent);
      if (price > 0) {
        elem.style.color = "#4ae264";
      } else if (price < 0) {
        elem.style.color = "#ff8282";
      }
    }
    </script>
  </body>
</html>
